<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mvc.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mvc.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.mvc.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustProfileUpdate</servlet-name>
        <servlet-class>com.mvc.controller.CustProfileUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_</servlet-name>
        <servlet-class>com.mvc.controller.Delete_</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRental</servlet-name>
        <servlet-class>com.mvc.controller.UpdateRental</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carAdd</servlet-name>
        <servlet-class>com.mvc.controller.carAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentCar</servlet-name>
        <servlet-class>com.mvc.controller.RentCar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServletC</url-pattern>
        <url-pattern>/LoginServletS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServletC</url-pattern>
        <url-pattern>/LogoutServletS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustProfileUpdate</servlet-name>
        <url-pattern>/CustProfileUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_</servlet-name>
        <url-pattern>/Delete_</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRental</servlet-name>
        <url-pattern>/UpdateRental</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carAdd</servlet-name>
        <url-pattern>/carAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentCar</servlet-name>
        <url-pattern>/RentCar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>loginCust.jsp</welcome-file>
    </welcome-file-list>
</web-app>
